body {
  font-family: "Montserrat";
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: "Montserrat";
  font-weight: 900;

}
h2 {

  font-size: 3rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f
}

/*Headings*/

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15% 7%;
  color: white;

}



.row {
  margin-top: 100px;
}

/*NavBar*/
.navbar-brand {
  font-family: Ubuntu;
  font-size: 40px;
  font-weight: 700;
}
.navbar-nav {
  font-size: 20px;

}
.navbar-nav li {
  margin-right: 50px;
}

/*Download Buttom*/
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image*/

.iphone {
  width: 300px;
	transform: rotate(25deg);
  position: absolute;
  right: 25%;


}


/* Features*/

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;



}

#features .col-lg-4 {
  text-align: center;
  padding: 5%;
}

.fa-solid {
  color: #ef8172;
}
#features .row h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.fa-solid:hover {
  color: #ff4c68;
}


/* Testimonials Section*/

#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-inner {
  padding: 7% 15%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing*/

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

/*Call to Action*/

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 20%;

}
#cta h3 {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  font-size: 3rem;
}
.down-button {
  margin-left: 20px;
  margin-top: 5%;
}

/*Footer*/

#footer {
  background-color: #fff;
  padding: 3% 15%;
  text-align: center;
}
#footer i {
  margin: 0 10px;
}
.fa-envelope {
  color: #000;
}
